#course_table{
	width: 1145px;
	margin-bottom: 20px;
}

#first_table{
	float: left;
	border-right: 1px solid #dfdfdf;
}

table th{
	height: 45px;
	vertical-align: middle;
	background-color: #8bcbe3;
	color: white;
	border-bottom: 3px solid #dfdfdf;
	text-align: center;
}

table td{
	height: 40px;
	vertical-align: middle;
	padding: 0px;
	background-color: #edf7fa;
	text-align: center;
}
#second_table th{
	min-width: 70px;
}

.course{
	width: 310px;
	border-right: 2px solid #dfdfdf;
}

.coursenum{
	width: 70px;
}

table tr td{
	border-bottom: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}

td:last-child{
	border-right: none;
}

.active{
	background-color: #63D5F7 !important;
	cursor: pointer;
}

.hovered{
	background-color: #83D9FF !important;
}

tr:nth-child(odd) td{
	background-color: white;
}

.circle {
	width: 20px;
	height: 20px;
	background-color: #65D4D2;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display: inline-block;
}

#over{
	overflow: auto;
}

#second_table{
	table-layout:fixed;
}

#first_table th:first-of-type{
	border-radius: 3px 0px 0px 0px;
}

#second_table th:last-of-type{
	border-radius: 0px 3px 0px 0px;
}

@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';
* {
    box-sizing: border-box
}

button {
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #454545;
    position: relative;
    margin: 1em;
    display: inline-block;
    padding: 0.5em 1em;
    transition: all 0.3s ease-in-out;
    text-align: center;
    font-weight: bold
}

button:before, button:after {
    content: '';
    display: block;
    position: absolute;
    border-color: #454545;
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    transition: all 0.3s ease-in-out
}

button:before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
}

button:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
}

button:hover:before, button:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #fff
}

button:hover {
    color: #353535;
    background-color: #fff;
    border-color: #fff
}

.bw button {
    color: black;
    border-color: transparent;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.bw button:before, .bw button:after {
    border-color: #fff
}

.bw button:hover:before, .bw button:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #0d47a1;
}

.bw button:hover {
    color: #0d47a1;
    background-color: #90caf9;
}

.panel {
    display: inline-block;
    line-height: 70px;
    position: absolute;
    left: 75px;
}
